In [64]:
import boto3
import pandas as pd
from io import StringIO
import redshift_connector

In [2]:
KEY='AKIA5AV2565272WALSS3'
SECRET='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'
AWS_REGION='us-east-1'
SCHEMA_NAME='covid_data'
S3_STAGING='s3://covid-project-op/Output/'
S3_BUCKET='covid-project-op'
S3_OP_DIR='Output'

In [3]:
athena=boto3.client('athena',
                   region_name=AWS_REGION,
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)

In [4]:
athena

In [5]:
Dict={}
def download_and_load_s3(client:boto3.client,queryresponse:Dict)->pd.DataFrame:
    client.get_query_results(QueryExecutionId=queryresponse['QueryExecutionId'])    
    
    temp_file_location='athena_query_results.csv'
    s3=boto3.client('s3',
                   region_name=AWS_REGION,
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)
    s3.download_file(S3_BUCKET,f"{S3_OP_DIR}/{queryresponse['QueryExecutionId']}.csv",
                     temp_file_location)
    return pd.read_csv(temp_file_location)

In [6]:
response= athena.start_query_execution(QueryString="select * from enigma_jhu",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)
#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [9]:
enigma_jhu=download_and_load_s3(athena,re['QueryExecution'])

In [10]:
enigma_jhu

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"
...,...,...,...,...,...,...,...,...,...,...,...,...
222799,NaN,NaN,NaN,West Bank and Gaza,2020-05-30T02:32:48,31.952,35.233,446.0,3.0,368.0,75.0,West Bank and Gaza
222800,NaN,NaN,NaN,Western Sahara,2020-05-30T02:32:48,24.215,-12.886,9.0,1.0,6.0,2.0,Western Sahara
222801,NaN,NaN,NaN,Yemen,2020-05-30T02:32:48,15.553,48.516,283.0,65.0,11.0,207.0,Yemen
222802,NaN,NaN,NaN,Zambia,2020-05-30T02:32:48,-15.417,28.283,1057.0,7.0,779.0,271.0,Zambia
222803,NaN,NaN,NaN,Zimbabwe,2020-05-30T02:32:48,-20.000,30.000,149.0,4.0,28.0,117.0,Zimbabwe

In [11]:
r=athena.list_data_catalogs()
metadata=athena.list_table_metadata(CatalogName=r['DataCatalogsSummary'][0]['CatalogName'],DatabaseName=SCHEMA_NAME)
lst=[]
for i in range(len(metadata['TableMetadataList'])):
    lst.append(metadata['TableMetadataList'][i]['Name'])

In [12]:
lst

['enigma_jhu',
 'enigma_nytimes_data_in_usa_us_county',
 'enigma_nytimes_data_in_usa_us_states',
 'rearc_covid_19_testing_data_states_daily',
 'rearc_covid_19_testing_data_us',
 'rearc_covid_19_testing_data_us_daily',
 'rearc_usa_hospital_beds',
 'static_datasets_country_population',
 'static_datasets_countrycodeqs',
 'static_datasets_states_abv']

In [13]:
#for i in lst:
  #  response= athena.start_query_execution(QueryString='select * from '+i,
   #                           QueryExecutionContext={'Database': SCHEMA_NAME},
    #                          ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
    #max_execution = 5
    #state='RUNNING'
    #while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
     #   max_execution = max_execution - 1
      #  re= athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
       # print(state)
    #d['data_'+ i]=download_and_load_s3(athena,re['QueryExecution'])
    #print(state)

In [14]:
for i in lst:
    print(i)

enigma_jhu
enigma_nytimes_data_in_usa_us_county
enigma_nytimes_data_in_usa_us_states
rearc_covid_19_testing_data_states_daily
rearc_covid_19_testing_data_us
rearc_covid_19_testing_data_us_daily
rearc_usa_hospital_beds
static_datasets_country_population
static_datasets_countrycodeqs
static_datasets_states_abv

In [15]:
response= athena.start_query_execution(QueryString="select * from enigma_nytimes_data_in_usa_us_county",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)
#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [17]:
enigma_nytimes_data_in_usa_us_county=download_and_load_s3(athena,re['QueryExecution'])

In [18]:
response= athena.start_query_execution(QueryString="select * from enigma_nytimes_data_in_usa_us_states",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)
#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [19]:
enigma_nytimes_data_in_usa_us_states=download_and_load_s3(athena,re['QueryExecution'])

In [20]:
response= athena.start_query_execution(QueryString="select * from rearc_covid_19_testing_data_states_daily",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)
#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [22]:
rearc_covid_19_testing_data_states_daily=download_and_load_s3(athena,re['QueryExecution'])

In [23]:
response= athena.start_query_execution(QueryString="select * from rearc_covid_19_testing_data_us",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)

#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [25]:
rearc_covid_19_testing_data_us=download_and_load_s3(athena,re['QueryExecution'])

In [26]:
response= athena.start_query_execution(QueryString="select * from rearc_covid_19_testing_data_us_daily",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)

#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [28]:
rearc_covid_19_testing_data_us_daily=download_and_load_s3(athena,re['QueryExecution'])

In [29]:
response= athena.start_query_execution(QueryString="select * from rearc_usa_hospital_beds",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)

#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [31]:
rearc_usa_hospital_beds=download_and_load_s3(athena,re['QueryExecution'])

In [32]:
response= athena.start_query_execution(QueryString="select * from static_datasets_country_population",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)

#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [33]:
static_datasets_country_population=download_and_load_s3(athena,re['QueryExecution'])

In [34]:
response= athena.start_query_execution(QueryString="select * from static_datasets_countrycodeqs",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)

#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [35]:
static_datasets_countrycodeqs=download_and_load_s3(athena,re['QueryExecution'])

In [36]:
response= athena.start_query_execution(QueryString="select * from static_datasets_states_abv",
                              QueryExecutionContext={'Database': SCHEMA_NAME},
                              ResultConfiguration={'OutputLocation':S3_STAGING,'EncryptionConfiguration':{'EncryptionOption':'SSE_S3'}})
#re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])
#f=download_and_load_s3(athena,response)

#download_and_load_s3(athena,re['QueryExecution'])
max_execution = 5
state='RUNNING'
while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        max_execution = max_execution - 1
        re = athena.get_query_execution(QueryExecutionId = response['QueryExecutionId'])

In [37]:
static_datasets_states_abv=download_and_load_s3(athena,re['QueryExecution'])

In [38]:
header=static_datasets_states_abv.iloc[0]
static_datasets_states_abv=static_datasets_states_abv[1:]
static_datasets_states_abv.columns=header

In [39]:
static_datasets_states_abv.head(5)

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [40]:
fact1=rearc_covid_19_testing_data_states_daily[['fips','hospitalizedcurrently',
                                                            'hospitalized','hospitalizeddischarged','positive',
'negative',]]
fact2=enigma_jhu[['fips','province_state','country_region','confirmed','deaths','recovered','active',]]
factCovid=pd.merge(fact2,fact1,on='fips')

In [41]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,hospitalizedcurrently,hospitalized,hospitalizeddischarged,positive,negative
0,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,147.0,NaN,NaN,101327.0,305972.0
1,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,147.0,NaN,NaN,101327.0,305972.0
2,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,136.0,NaN,NaN,101066.0,305972.0
3,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,171.0,NaN,NaN,100867.0,305972.0
4,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,169.0,NaN,NaN,100765.0,305972.0

In [42]:
dim1=enigma_nytimes_data_in_usa_us_county[['fips','county','state']]
dim2=enigma_jhu[['fips','country_region','province_state','latitude','longitude']]
dimRegion=pd.merge(dim1,dim2,on='fips')

In [43]:
dimHosp=rearc_usa_hospital_beds[['fips','hospital_name','hospital_type','hq_address','hq_city','hq_state','state_name',
                                 'hq_address1','latitude','longtitude']]

In [44]:
dimDate=rearc_covid_19_testing_data_states_daily[['fips','date']]

In [45]:
dimDate['date']=pd.to_datetime(dimDate['date'],format='%Y%m%d')

C:\Users\anvay\AppData\Local\Temp/ipykernel_6216/4062609722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date']=pd.to_datetime(dimDate['date'],format='%Y%m%d')

In [46]:
dimDate['month']=dimDate['date'].dt.month
dimDate['year']=dimDate['date'].dt.year
dimDate['is_weekend']=dimDate['date'].dt.dayofweek

C:\Users\anvay\AppData\Local\Temp/ipykernel_6216/304033945.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month']=dimDate['date'].dt.month
C:\Users\anvay\AppData\Local\Temp/ipykernel_6216/304033945.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year']=dimDate['date'].dt.year
C:\Users\anvay\AppData\Local\Temp/ipykernel_6216/304033945.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['is_weekend']=dimDate['date'].dt.dayofweek

In [47]:
from datetime import datetime
dimDate['date']=dimDate['date'].dt.strftime('%Y-%m-%d')

C:\Users\anvay\AppData\Local\Temp/ipykernel_6216/983874523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date']=dimDate['date'].dt.strftime('%Y-%m-%d')

In [48]:
dimDate

       fips        date  month  year  is_weekend
0         2  2021-03-07      3  2021           6
1         1  2021-03-07      3  2021           6
2         5  2021-03-07      3  2021           6
3        60  2021-03-07      3  2021           6
4         4  2021-03-07      3  2021           6
...     ...         ...    ...   ...         ...
20775    53  2020-01-17      1  2020           4
20776    53  2020-01-16      1  2020           3
20777    53  2020-01-15      1  2020           2
20778    53  2020-01-14      1  2020           1
20779    53  2020-01-13      1  2020           0

[20780 rows x 5 columns]

In [49]:
s3=boto3.resource('s3')

In [108]:
import xlsxwriter

In [137]:
csv_buffer = StringIO()
dimDate.to_csv(csv_buffer,index=False)
s3.Object(S3_BUCKET, 'dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'J9X7QD7YAHB4Z1WK',
  'HostId': 'EFOdqi/v4sgUg2dpfmP734WRb9dbnb79/v6ooz1px7u/kxNlQVsvXXFvPoK+1ZdqnhRBLRDFPzA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'EFOdqi/v4sgUg2dpfmP734WRb9dbnb79/v6ooz1px7u/kxNlQVsvXXFvPoK+1ZdqnhRBLRDFPzA=',
   'x-amz-request-id': 'J9X7QD7YAHB4Z1WK',
   'date': 'Wed, 09 Aug 2023 02:35:41 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9e79c1bc2134eff1dcaabfc18eb31bfe"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9e79c1bc2134eff1dcaabfc18eb31bfe"',
 'ServerSideEncryption': 'AES256'}

In [109]:
#dimDate.to_excel(csv_buffer)
workbook = xlsxwriter.Workbook(dimDate)
workbook.use_zip64()
s3.Object(S3_BUCKET, 'dimDate.xlsx').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'EC7M1YQ8W4ZFKPKA',
  'HostId': 't5zHshzc53gox6ApTvpWFWoMTJOFbZEkLREeLyiUrtC/YN0SVambqTNXjHGkoaGkeKTZlBc+0rg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 't5zHshzc53gox6ApTvpWFWoMTJOFbZEkLREeLyiUrtC/YN0SVambqTNXjHGkoaGkeKTZlBc+0rg=',
   'x-amz-request-id': 'EC7M1YQ8W4ZFKPKA',
   'date': 'Wed, 09 Aug 2023 02:04:14 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"299de8a04fbebbd42c915731afddfb16"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"299de8a04fbebbd42c915731afddfb16"',
 'ServerSideEncryption': 'AES256'}

In [157]:
csv_buffer = StringIO()
dimHosp.to_csv(csv_buffer,index=False)
s3.Object(S3_BUCKET, 'dimHosp.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'QW8Z2B08DT6RMP8M',
  'HostId': 'Ud24vtD8GaMNj2bCLBSV+PLM0U31WJdItbJ4RG9w60ZaibHTYcxoL1+bqVtzXcMUV7mOYFKnJjj+Xr8/L8UCXJNcTA/myPtnJDBserc0twg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Ud24vtD8GaMNj2bCLBSV+PLM0U31WJdItbJ4RG9w60ZaibHTYcxoL1+bqVtzXcMUV7mOYFKnJjj+Xr8/L8UCXJNcTA/myPtnJDBserc0twg=',
   'x-amz-request-id': 'QW8Z2B08DT6RMP8M',
   'date': 'Wed, 09 Aug 2023 03:35:15 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"4ba6f664be50600c81feed35e8010b34"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"4ba6f664be50600c81feed35e8010b34"',
 'ServerSideEncryption': 'AES256'}

In [140]:
csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer,index=False)
s3.Object(S3_BUCKET, 'dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'EMEHQJ36HSR3QBJY',
  'HostId': 'mzyq8DOrfrWBcgkxxOLOkQHseuVaO8ECbpWz4gTS2wm3KtaxrVSVVmHURNXCH5+nGVID5N/O7RA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'mzyq8DOrfrWBcgkxxOLOkQHseuVaO8ECbpWz4gTS2wm3KtaxrVSVVmHURNXCH5+nGVID5N/O7RA=',
   'x-amz-request-id': 'EMEHQJ36HSR3QBJY',
   'date': 'Wed, 09 Aug 2023 02:42:29 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"8cdf05056a19e208714def8e70dd81d3"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"8cdf05056a19e208714def8e70dd81d3"',
 'ServerSideEncryption': 'AES256'}

In [189]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer,index=False)
s3.Object(S3_BUCKET, 'factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'MEKYXQQYFZB9Y31E',
  'HostId': 'r3cRERrG3vcpnGINdzxq6lDXr99cj0YzWfMkn2r6PWDj8rPWZRa7da0xmBGd0Y/s0+3ifl2OWbI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'r3cRERrG3vcpnGINdzxq6lDXr99cj0YzWfMkn2r6PWDj8rPWZRa7da0xmBGd0Y/s0+3ifl2OWbI=',
   'x-amz-request-id': 'MEKYXQQYFZB9Y31E',
   'date': 'Wed, 09 Aug 2023 03:57:36 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"63c7ead1471088d6b9d628457b13f8a2"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"63c7ead1471088d6b9d628457b13f8a2"',
 'ServerSideEncryption': 'AES256'}

In [51]:
dimHosp

,fips,hospital_name,hospital_type,hq_address,hq_city,hq_state,state_name,hq_address1,latitude,longtitude
0,4013.0,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,Phoenix,AZ,Arizona,NaN,33.495498,-112.066157
1,4019.0,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,Tucson,AZ,Arizona,NaN,32.181263,-110.965885
2,6019.0,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,Fresno,CA,California,NaN,36.773324,-119.779742
3,9009.0,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,West Haven,CT,Connecticut,NaN,41.284400,-72.957610
4,10003.0,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,Wilmington,DE,Delaware,NaN,39.740206,-75.606532
...,...,...,...,...,...,...,...,...,...,...
6632,19103.0,University of Iowa Health Network Rehabilitati...,Rehabilitation Hospital,2450 Coral Ct,Coralville,IA,Iowa,NaN,41.681410,-91.575728
6633,4019.0,Northwest Medical Center Sahuarita,Short Term Acute Care Hospital,16260 S Rancho Sahuarita Blvd,Sahuarita,AZ,Arizona,NaN,31.955757,-110.984489
6634,48201.0,The Heights Hospital,Short Term Acute Care Hospital,1917 Ashland St,Houston,TX,Texas,NaN,29.803581,-95.404182
6635,18019.0,Cobalt Rehabilitation Hospital Clarksville,Rehabilitation Hospital,2101 Broadway St,Clarksville,IN,Indiana,NaN,38.329353,-85.765610
6636,55085.0,Marshfield Medical Center - Minocqua,Short Term Acute Care Hospital,9576 WI-70,Minocqua,WI,Wisconsin,NaN,45.890217,-89.708786

In [52]:
print(pd.io.sql.get_schema(dimHosp,'dimHosp'))

CREATE TABLE "dimHosp" (
"fips" REAL,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT,
  "state_name" TEXT,
  "hq_address1" TEXT,
  "latitude" REAL,
  "longtitude" REAL
)

In [136]:
dimDate.reset_index(drop=True)
#dimHosp

       fips        date  month  year  is_weekend
0         2  2021-03-07      3  2021           6
1         1  2021-03-07      3  2021           6
2         5  2021-03-07      3  2021           6
3        60  2021-03-07      3  2021           6
4         4  2021-03-07      3  2021           6
...     ...         ...    ...   ...         ...
20775    53  2020-01-17      1  2020           4
20776    53  2020-01-16      1  2020           3
20777    53  2020-01-15      1  2020           2
20778    53  2020-01-14      1  2020           1
20779    53  2020-01-13      1  2020           0

[20780 rows x 5 columns]

In [54]:
l=['dimHosp','dimRegion','dim']

In [55]:
s3=boto3.resource('s3')
lst1=[]
my_bucket=s3.Bucket(S3_BUCKET)
for obj in my_bucket.objects.filter():
    if obj.key.find('Output/')==-1:
        lst1.append(obj.key)
lst1

['dimDate.csv',
 'dimHosp.csv',
 'dimRegion.csv',
 'factCovid.csv',
 'redshift_connector-2.0.913-py3-none-any.whl']

In [113]:
print(dimDate_sql)

CREATE TABLE "dimDate" (
"fips" INTEGER,
  "date" TEXT,
  "month" INTEGER,
  "year" INTEGER,
  "is_weekend" INTEGER
)

In [ ]:
dimDate_sql = pd.io.sql.get_schema(dimDate,'dimDate')
dimHosp_sql  = pd.io.sql.get_schema(dimHosp,'dimHosp ')
dimRegion_sql = pd.io.sql.get_schema(dimRegion,'dimRegion ')
factCovid_sql  = pd.io.sql.get_schema(factCovid,'factCovid ')

In [154]:
dimHosp_sql

'CREATE TABLE "dimHosp " (\n"fips" REAL,\n  "hospital_name" TEXT,\n  "hospital_type" TEXT,\n  "hq_address" TEXT,\n  "hq_city" TEXT,\n  "hq_state" TEXT,\n  "state_name" TEXT,\n  "hq_address1" TEXT,\n  "latitude" REAL,\n  "longtitude" REAL\n)'

In [50]:
redshift=boto3.client('redshift',
                    region_name='us-east-1',
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)

In [51]:
iam=boto3.client('iam',
                    region_name='us-east-1',
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)
iam_role=iam.get_role(RoleName='redshift-access-s3')['Role']['Arn']
iam_role

'arn:aws:iam::894818973557:role/redshift-access-s3'

In [52]:
try:
    cluster=redshift.create_cluster(
        DBName=SCHEMA_NAME,
        ClusterIdentifier='covid-data',
        ClusterType='single-node',
        NodeType="dc2.large",
        Port=5439,
        NumberOfNodes=1,
        MasterUsername='awsuser',
        MasterUserPassword='Password123',
        IamRoles=[iam_role]
    )
except Exception as e:
    print(e)

In [146]:
conn = redshift_connector.connect(
    host='covid-data.cdqsurxfinwc.us-east-1.redshift.amazonaws.com',
    database='covid_data',
    user='awsuser',
    password='Password123'
 )

In [147]:
conn.autocommit=True
cursor: redshift_connector.Cursor = conn.cursor()

In [114]:
cursor.execute("""
CREATE TABLE "dimDate" (
"fips" INTEGER,
  "date" TEXT,
  "month" INTEGER,
  "year" INTEGER,
  "is_weekend" INTEGER
)


""")

In [172]:
cursor.execute("""
CREATE TABLE "dimHosp" (
  "fips" text,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT,
  "state_name" TEXT,
  "hq_address1" TEXT,
  "latitude" text,
  "longtitude" text
)
""")

In [176]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"fips" text,
  "county" TEXT,
  "state" TEXT,
  "country_region" TEXT,
  "province_state" TEXT,
  "latitude" text,
  "longitude" text
)
""")

In [193]:
cursor.execute("""
CREATE TABLE "factCovid" (
"fips" TEXT,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" TEXT,
  "deaths" TEXT,
  "recovered" TEXT,
  "active" TEXT,
  "hospitalizedcurrently" TEXT,
  "hospitalized" TEXT,
  "hospitalizeddischarged" TEXT,
  "positive" TEXT,
  "negative" TEXT
)
""")

In [138]:
cursor.execute("""
    copy dimdate from 's3://covid-project-op/dimDate.csv'
    credentials 'aws_iam_role=arn:aws:iam::894818973557:role/redshift-access-s3'
    region 'us-east-1'
    delimiter ','
    IGNOREHEADER 1
    """)

In [106]:
len(dimDate['date'][0])

10

In [173]:
cursor.execute("""
    copy dimhosp from 's3://covid-project-op/dimHosp.csv'
    credentials 'aws_iam_role=arn:aws:iam::894818973557:role/redshift-access-s3'
    CSV
    delimiter ','
    region 'us-east-1'
    """)

In [177]:
cursor.execute("""
    copy dimRegion from 's3://covid-project-op/dimRegion.csv'
    credentials 'aws_iam_role=arn:aws:iam::894818973557:role/redshift-access-s3'
    CSV
    delimiter ','
    region 'us-east-1'
    """)

In [194]:
cursor.execute("""
    copy factCovid from 's3://covid-project-op/factCovid.csv'
    credentials 'aws_iam_role=arn:aws:iam::894818973557:role/redshift-access-s3'
    CSV
    delimiter ','
    region 'us-east-1'
    """)